@layout('layouts/main')

@section('title')
Not found
@endsection

@section('content')
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h4>What's a strange situation!</h4>
      </div>
    </div>
  </div>
</main>
@end

