<nav class="navbar fixed-bottom navbar-dark bg-dark p-0">
  <div class="navbar-nav mr-auto px-4">
    <div class="nav-item">
      <div class="nav-link small">
        2022 © All rights reserved - <a href="/terms" style="color: #d772fe">Terms of service</a> and <a
          href="{{route('/privacy')}}" style="color: #d772fe">privacy policy</a>.
      </div>
    </div>
  </div>
</nav>
