# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
data*/development.sqlite
data*/adonis.sqlite

# Uploaded recipes
recipes/

.DS_Store

resources/announcements/*.json
!resources/announcements/version.json
npm-debug.log
yarn-error.log
server*.log
.idea
