Hello {{ username }},
we received a request to reset your Ferdium account password.
Use the link below to reset your password. If you didn't requested that your password be reset, please ignore this
message.

{{ appUrl }}/user/reset?token={{ encodeURIComponent(token) }}

This message was sent automatically. Please do not reply.
