<p>Hello {{ user.name }} ! 👋</p>
<p>Your account has been created on our site <strong>{{siteName}}</strong>.</p>
<p>
  <a href="{{verifyUrl}}">
    Click here to verify your email address to log in and get started.
  </a>

<p>Or copy paste this url into your browser address bar:<br />
  <em>{{ verifyUrl }}</em>
</p>