<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ferdium-server</title>
  <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="/css/vanilla.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    @!section('content')
</body>

</html>
