<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Server</title>
  <link rel="shortcut icon" type="image/jpg" href="/img/favicon.ico" />
  {{ csrfMeta() }}

  {{--  <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tailwind.css') }}">  
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">    --}}
  {{ style('assets/css/tailwind.css') }}
  {{ style('assets/css/main.css') }}

</head>

<body>
  <div class="flex flex-col h-screen">

    @include('partials/header')

    <section class="flex flex-1">
      @!section('content')
    </section>

    @include('partials/footer')
  </div>
  <script async defer src="https://buttons.github.io/buttons.js"></script>    
</body>

</html>
