@layout('layouts/main')

@section('title')
Login
@endsection

@section('content')
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1 class="mb-4 text-center">Login</h1>
        <div class="shadow-lg rounded p-5">
          @include('forms/signinForm')
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</main>
@endsection